/* Error: Undefined variable.
 *    ,
 * 10 |     background: $header-bg;
 *    |                 ^^^^^^^^^^
 *    '
 *   sass\_headerFooter.scss 10:17  @use
 *   sass\main.scss 4:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 10 \2502      background: $header-bg;\d\a    \2502                  ^^^^^^^^^^\a    \2575 \a   sass\\_headerFooter.scss 10:17  @use\a   sass\\main.scss 4:1             root stylesheet";
}
