@use "colors";
@use "mixins";

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 42px;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: colors.$body-bg;
    @include mixins.flexCenter;
    flex-direction: column;
    padding-bottom: 60px;
}