@use "colors";

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header, .footer {
    background: colors.$header-bg;
    color: colors.$header-color;
    font-size: 0.5rem;;
    width: 100%;
    min-height: 60px;
    text-align: center;
}

.title-break {
    display: block;
}

.footer {
    position: fixed;
    top: calc(100vh - 60px);
    left: 0;
    @include mixins.flexCenter;
    font-size: 0.6rem;
}

@include mixins.mq(768px) {
    .header {
        font-size: 1rem;
    }
    .footer {
        font-size: 0.8rem;
    }
}

@include mixins.mq(1024px) {
    .title-break {
        display: none;
    }
}